/*
  CSS Styles for Gallery in 3rd Anniversary Website | generator.css
*/


/* reset styles */
body, h1, h2, h4, header, div, footer {
	border: 0;
	padding: 0;
	margin: 0;
}

/* body */
body {
	background: #000000;
}

/* header */
header {
	margin: 40px 10px;
	font-family: 'EB Garamond', sans-serif;
}

header > p {
  color: white;
  text-align: center;
  font-size: 125%;
}

h1, p {
	color: #ffffff;
}

.button-div {
	background: #997f8c;
}

button {
	width: 200px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.card {
	width:  300px;
	height: auto;
	margin: 3%;
	text-align: center;

	color: white;
}

.card  > img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.reversed {
  	transform: rotate(180deg);
}

.generate-button {
	width: 100px;
}

.card-display {
	background: #997f8c;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	
	height: auto;

	font-family: 'EB Garamond', serif;
	font-size: 22px;
}

.text-div {
	background: #997f8c;
	color: white;
	line-height: 1.6;
	padding: 10px 0px 50px;

	font-family: 'EB Garamond', serif;
	font-size: 20px;
}

th {
	padding: 0px 10px 0px;
}

td {
	text-align: center;
}

/* first gradient */
.first-divider {
	height: 100px;
	background: linear-gradient(#000000 0%, #997f8c 100%);
  	padding: 10px 5px;
	
	font-size: 150%;
	font-family: 'EB Garamond', serif;
}

/* last gradient */
.last-divider {
	height: 100px;
	background: linear-gradient(#997f8c 0%, #000000 100%);
  	color: white;
}

/* button */
button {
  background-color: #160045;
  border-color: white;
  border-width: 2px;

  color: white;
  text-align: center;
  border-radius: 5px;

  font-family: 'EB Garamond', sans-serif;
  font-size: 24px;
  font-weight: bold;

  padding: 10px 15px;
  width: auto;
}


button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button:hover {
  background-color: #3e2080;
  font-weight: bolder;
}

button:active {
  background-color: #160045;
  transform: translateY(3px);
}

/* footer */
footer {
	color: #ffffff;
	margin: 40px 10px;

	font-family: Calibri;
}

a {
	color: #9492db;
	text-decoration: none;
}

a:hover {
	font-weight: bolder;
}

/* if device is mobile */
@media (max-width: 1100px) {
	/* first gradient */
	.first-divider {
		height: 50px;
		background: linear-gradient(#000000 0%, #997f8c 100%);
    	padding: 10px 5px;
	}
	/* last gradient */
	.last-divider {
		height: 50px;
		background: linear-gradient(#997f8c 0%, #000000 100%);
		  color: white;
	}
}